body {
    font-family: Garamond, serif;
    background-color: snow;
}

h1, h2 {
    color:darkblue;
}

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 1.875em; 
}

  p, ul, ol, td, th {
    color: darkolivegreen;
}
.evenrow {
    background-color: lightsteelblue;  
    color:black;
}




