body {
    font-family: Garamond, serif;
    background-color: snow;
}

h1, h2 {
    color: lavenderblush;
}

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 1.875em; 
}

  p, ul, td, th {
    color: lavenderblush;
}
.evenrow {
    background-color: lightskyblue;  
}
.special {color: black (106, 195, 218);}



